[user]
	name = Kevin Whiteside
	email = whiteside.kj@gmail.com
[pull]
	rebase = true
[commit]
	gpgSign = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = true
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
[taggrouping]
	groups =
	singles =
[gc]
	autoDetach = false
